@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Karla:ital,wght@0,200..800;1,200..800&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --slate-900: #1F314F;
    --slate-500: #66778D;
    --slate-300: #D5E1EF;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100vw;
    height: 100vh;
    background-color: var(--slate-300);
    display: flex;
    justify-content: center;
    align-items: center;
}

.content{
    width: 20rem;
    height: 30rem;
    background-color: #FFF;
    border-radius: 1.25rem;
}

.content img{
    border-radius: 1.25rem;
    width: 18rem;
    height: 18rem;
    margin-left: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.content h3{
    font-family: Outfit;
    width: 15.625rem;
    height: 3.125rem;
    text-align: center;
    margin-left: 2rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    color: var(--slate-900);
}

.content p{
    font-family: Outfit;
    text-align: center;
    margin-left: 1.5rem;
    margin-right: 1rem;
    color: var(--slate-500);
}